.container{
    color: red;
    background-color: blue;
}
.container2{
    color:violet;
    border:2px solid;
    border-color: chartreuse;
}
h1{
    color: brown;
    border: solid;
    border-color: orange;
}